.virus-count-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  margin: 5px;
  width: 40%;
}

.virus-count-label {
  font-size: 14px;
  
  strong {
    font-weight: 900;
  }
}
