.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
  max-width: 728px;
  }

.title {
  margin: 5px;
}

.editorial-text {
  margin: 3px 40px;
}

.editorial-text li {
  font-size: 18px;
  list-style: none;
}

.editorial-icon {
  font-size: 18px;
}
